name: Linux_Container_Workflow

on:
  workflow_dispatch: # This adds the manual "Run workflow" button
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.gitignore'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    # 1. Checkout your code
    - name: Checkout GitHub Action
      uses: actions/checkout@v3

    # 2. Login to Azure using the secret JSON
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # 3. Login to ACR
    - name: 'Login to ACR'
      uses: azure/docker-login@v1
      with:
        login-server: helloapi.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    # 4. Build and Push the image
    - name: 'Build and Push Image'
      run: |
        docker build . -t helloapi.azurecr.io/helloworld:${{ github.sha }}
        docker push helloapi.azurecr.io/helloworld:${{ github.sha }}

    # 5. Deploy to Azure Container Instances
    - name: 'Deploy to Azure Container Instances'
      uses: 'azure/aci-deploy@v1'
      with:
        resource-group: dev.uno-rg
        dns-name-label: hello-api-raydev
        image: helloapi.azurecr.io/helloworld:${{ github.sha }}
        name: helloapi-instance
        location: malaysiawest
        ports: 5000
        # ADD THESE THREE LINES BELOW:
        registry-login-server: helloapi.azurecr.io
        registry-username: ${{ secrets.REGISTRY_USERNAME }}
        registry-password: ${{ secrets.REGISTRY_PASSWORD }}